{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_files %}{% endblock %}
    <link rel="icon" href="data:,">

</head>
<body>
    <header id="main-navigation">
        <h1><a class="my_name" href="{% url "start" %}">Kamil Adaszewski's blog</a></h1>
        <nav>
            <a class="all_posts" href="{% url "posts" %}">All posts</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %} 
</body>
</html>