{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}"/>
<link rel="stylesheet" href="{% static "blog/post.css" %}"/>
{% endblock %} 
{% block content %}

    <section id="welcome">
        <header>
            <img src="https://media.licdn.com/dms/image/D4D03AQGFoP3sWq4ihQ/profile-displayphoto-shrink_800_800/0/1689402360183?e=1712188800&v=beta&t=hJ_DHGMRaAyYJDzQDkR4HnVg-UsD5hXaCZDmv_1Kx_8" alt="zdjecie" class="fota">
            <h2>Kamil's BLOG</h2>
        </header>
        <h1>Hi, I'm Kamil and i love to blog about tech and fitness</h1>
    </section>

    <section id="latest-posts">
        <h2>My latest thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>
    <section id="about">
        <h2>what i do</h2>
        <p>I love programming, in free time I'am into fitness and helping people achieving great body.</p>
    </section>

{% endblock %}